body {
    margin: 0;
    padding: 0;
    background-image: url("../content/Red\ Sunset.jpg");
}

.h-1 {
    text-align: center;
    background: linear-gradient(to right, rgb(85, 212, 255), rgb(54, 54, 255));
    height: 4rem;
    border-radius: 2rem;
    font-family: 'Donut Shop', sans-serif;
    color: rgb(0, 0, 0);
}

.label {
    font-size: 1.2rem;
    font-weight: 800;
}

#input {
    border-radius: 2rem;
    width: 10rem;
    height: 2rem;
}

.currency {
    border-radius: 2rem;
    height: 2rem;
    width: 4.8rem;
    font-weight: 600;
    margin-left: 1rem;
}

#output {
    border-radius: 2rem;
    width: 10rem;
    height: 2rem;
}

.butt {
    margin-top: 1rem;
    margin-left: 7rem;
    border-radius: 2rem;
    width: 6rem;
    height: 2rem;
    font-weight: 800;
    font-size: .8rem;
}

.image0 {
    margin-left: 4rem;
    width: 2rem;
}

.wrapper {
    font-family: 'Chucaratext', sans-serif;
    padding: 1rem;
    margin: 20px auto;
    width: 26rem;
    height: 28rem;
    border-radius: 2rem;
    background: linear-gradient(to right, rgb(100, 214, 255),rgb(102, 102, 255));
}



@import url('https://fonts.cdnfonts.com/css/donut-shop');
@import url('https://fonts.cdnfonts.com/css/chucaratext');