body {
    margin: 0;
    padding: 0;
    background-image: url("../content/Pure\ Lust.jpg");
    color: rgb(0, 0, 0);
}

.h-1 {
    text-align: center;
    /* background: linear-gradient(to right, rgb(144, 0, 255),rgb(78, 0, 130)); */
    height: 2.8rem;
    border-radius: 2rem;
    font-family: 'Donut Shop', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: black 4px 4px 4px 4px;
    font-size: 1.8rem;
    font-weight: 100;
}

.h-2 {
    text-align: center;
}

.p-0 {
    text-align: center;
    font-weight: 600;
}

.hr-0 {
    border: black solid .001rem;
}

.label {
    font-size: 1.2rem;
    font-weight: 800;
}

#input_currency {
    border-radius: 2rem;
    width: 10rem;
    height: 2rem;
}

.currency {
    border-radius: 2rem;
    height: 2rem;
    width: 4.8rem;
    font-weight: 600;
    margin-left: 1rem;
}

#output_currency {
    border-radius: 2rem;
    width: 10rem;
    height: 2rem;
    color: black;
    font-weight: 600;
}

.butt {
    margin-top: 1rem;
    margin-left: 7rem;
    border-radius: 2rem;
    width: 6rem;
    height: 2rem;
    font-weight: 800;
    font-size: .8rem;
}

.image0 {
    margin-left: 4rem;
    width: 2rem;
}

.wrapper {
    font-family: 'Chucaratext', sans-serif;
    padding: 1rem;
    margin: 20px auto;
    box-shadow: black 12px 10px 12px 6px;
    width: 22rem;
    height: 22rem;
    border-radius: 2rem;
    background: linear-gradient(to right, rgb(255, 0, 0),rgb(23, 23, 23));
}



@import url('https://fonts.cdnfonts.com/css/donut-shop');
@import url('https://fonts.cdnfonts.com/css/chucaratext');